html,body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif;
}

#app-calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  grid-template-rows: repeat(5, 1fr);
  height: 100%;

}
